* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
}
.header {
    background-color: #FFF8F3;
    background-image: url('portfolio-resources-main/images/header_bg.png'),url('portfolio-resources-main/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px 19px 36px;
    cursor: pointer;
}
.banner {
    margin: 50px 150px;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
}
.banner-sub-title {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
}.banner-title {
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    margin-top: 20px;
}
.banner-paragraph {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.btn-two {
    height: 64px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    cursor: pointer;
    margin-left: 5px;
}
.banner-img {
    height: 676px;
    width: 584px;
}
main {
    max-width: 1140px;
    
}
.about{
    margin: 50px 230px;
    text-align: center;
    background: #FFF8F3;
    height: 550px;
    padding: 131px 156px;
    width: 550px;
}
.about-title {
    margin-bottom: 20px;
    font-size: 700;
    
}
.about-description {

}
.container{
display: flex;
margin-top: 40px;
justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
  font-weight: 500;
  font-size: 20px;
}
.info-description{
    font-weight: 700;
    font-size: 20px;  
}
span{
    color:#FD6E0A;
}
.skills{
 
    margin-top: 130px;
  
}
.skills-title{

    margin-left: 600px;
margin-bottom: 70px;
}
.skill-container{
    display: flex;
  margin-left: 230px;
    gap: 24px;
  
    

}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    width: 57px;
}
.skill-description{
font-weight: 400;
font-size: 16px;
color: #757575;
margin-top: 20px;
}
.skill-box{
    box-shadow: 0px 6px 50px 0px #0000000F;
margin-bottom: 100px;
padding: 30px;
/* width: 500px; */
}
.resume-container{
    display: flex;
    margin-left: 220px;
    gap: 10px;
}
.resume-section-title{
    margin-bottom: 150px;
    margin-left: 600px;
}
.education{
    margin-left: 50px;
}

.my-education{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.harvard{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}
.experience{
    margin-left: 120px;
}
.education-container{
    margin-bottom: 20px;
    margin-top: 10px;
}
.Master{
    margin-bottom: 20px;
    font-size: 20px;
}
.edu-des{
    font-weight: 400;
    font-size: 16px;
}
.experience-container{
   
        margin-bottom: 20px;
        margin-top: 10px;
    
}
hr{
    /* width: 558px; */
}
.cv{
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px 19px 36px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 600px;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
}
.contact{
    display: flex;
    /* margin: 190px 230px; */
    padding:198px 230px ;
    gap: 117px;
    
}
.contact h3{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
/* .form{
    margin-left: 250px;
} */
.form input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    width: 461px;
    /* height: 64px; */
    padding: 18px 30px;
    border: 0;
}
.connect img{
    margin-top: 30px;
    margin-right: 24px;
}
.connect p{
    width: 470px;
}
.sub{
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px 19px 36px;
    cursor: pointer;
}